<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<head lang="en">
    <title>Home Automation - Dashboard</title>
</head>

<body>
<div class="container">
    <th:block layout:fragment="content">
        <fieldset>
            <div class="jumbotron">
                <h2><i class="fa fa-fw fa-cubes"></i> Home Automation</h2>

            </div>
        </fieldset>
    </th:block>
</div>
</body>
</html>